@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Indexes>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Indexes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Indexes</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-sitemap" aria-hidden="true">&nbsp;&nbsp;</i>Indexes</h3>
                </div>
                <div class="card-body">
                    <table class="@Raw(Model.IndexesTableClass.ToHtmlString()) table table-bordered table-hover" role="grid" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="row">Index Name</th>
                                <th scope="row">Table Name</th>
                                <th scope="row">Unique</th>
                                <th scope="row">Columns</th>
                                <th scope="row">Included Columns</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.IndexesCount > 0)
                            {
                                foreach (var index in Model.TableIndexes)
                                {
                                    <tr>
                                        <td>@index.Name</td>
                                        <td>
                                            <a href="@(index.TableUrl)">@index.TableName</a>
                                        </td>
                                        <td>@index.UniqueText</td>
                                        <td>@index.ColumnsText</td>
                                        <td>@index.IncludedColumnsText</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No indexes present.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>