@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Orphans>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Orphan Tables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orphan Tables</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-table" aria-hidden="true">&nbsp;&nbsp;</i>Orphan Tables</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="@Raw(Model.TablesTableClass.ToHtmlString()) table table-bordered table-hover" role="grid" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="row">Table</th>
                                <th scope="row">Columns</th>
                                <th scope="row">Rows</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TablesCount > 0)
                            {
                                foreach (var table in Model.Tables)
                                {
                                    <tr>
                                        <td>
                                            <a href="@(table.TableUrl)">@table.Name</a>
                                        </td>
                                        <td>@table.ColumnCount</td>
                                        <td>@table.RowCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No orphan tables present.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>