@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Relationships>

<section class="content-header">
  <h1>All Relationships</h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <i class="fa fa-code-fork"></i>
      <h3 class="box-title">Diagrams</h3>
    </div>
    <div class="box-body">
      <div class="nav-tabs-custom" style="cursor: move;">
        <h5>By default only columns that are primary keys, foreign keys or unique keys are shown.</h5>
        <ul class="nav nav-tabs pull-left ui-sortable-handle">
          @foreach (var diagram in Model.Diagrams)
          {
          <li @Raw(@diagram.ActiveClass.ToHtmlString())>
            <a href="#@Raw(@diagram.ContainerId.ToHtmlString())" data-toggle="tab" aria-expanded="true">@diagram.Name</a>
          </li>
          }
        </ul>
        <div class="tab-content no-padding">
          @foreach (var diagram in Model.Diagrams)
          {
          <div class="chart tab-pane @Raw(@diagram.ActiveText.ToHtmlString())" id="@Raw(@diagram.ContainerId.ToHtmlString())" style="position: relative; overflow-x:auto; height:0;padding-bottom:100%;width:100%;">
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
@foreach (var diagram in Model.Diagrams)
{
<script type="text/vnd.graphviz" data-graph-id="@Raw(@diagram.ContainerId.ToHtmlString())">
@Raw(@diagram.Dot.ToHtmlString())
</script>
}