@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Sequence>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Name</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@(Model.RootPath)/index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="@(Model.RootPath)/sequences.html">Sequences</a></li>
                    <li class="breadcrumb-item active">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-sort-numeric-asc" aria-hidden="true">&nbsp;&nbsp;</i>Sequence Definition</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="db-objects-table table table-bordered table-hover" role="grid">
                        <thead>
                            <tr>
                                <th>Synonym</th>
                                <th>Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tbl even">
                                <td>@Model.Name</td>
                                <td>@Raw(Model.TargetText.ToHtmlString())</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>