@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Tables>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tables</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-table" aria-hidden="true">&nbsp;&nbsp;</i>Tables</h3>
                </div>
                <div class="card-body">
                    <table class="@Raw(Model.TablesTableClass.ToHtmlString()) table table-bordered table-striped" role="grid">
                        <thead>
                            <tr>
                                <th scope="col">Table</th>
                                <th scope="col">Children</th>
                                <th scope="col">Parents</th>
                                <th scope="col">Columns</th>
                                <th scope="col">Rows</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TablesCount > 0)
                            {
                                foreach (var table in Model.AllTables)
                                {
                                    <tr>
                                        <td><a href="tables/@(table.TableUrl).html">@table.Name</a></td>
                                        <td>@table.ParentsCount</td>
                                        <td>@table.ChildrenCount</td>
                                        <td>@table.ColumnCount</td>
                                        <td>@table.RowCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr colspan="6">
                                    <td colspan="3">No tables present.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>