@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Trigger>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Name</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@(Model.RootPath)../../../index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="@(Model.RootPath)../../../triggers.html">Triggers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-bolt" aria-hidden="true">&nbsp;&nbsp;</i>Trigger Definition</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" role="grid" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Table</th>
                                <th scope="col">Timing</th>
                                <th scope="col">Events</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="../../../@(Model.TableUrl)">@Model.TableName</a></td>
                                <td><code>@Model.QueryTiming</code></td>
                                <td><code>@Model.Events</code></td>
                            </tr>
                        </tbody>
                    </table>
                    <p></p>
                    <textarea id="sql-script-codemirror" name="sql-script-codemirror" style="display: none">@Model.Definition</textarea>
                </div>
            </div>
        </div>
    </div>
</section>