@using RazorLight
@using SJP.Schematic.Reporting.Html.ViewModels
@inherits TemplatePage<Views>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Views</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Views</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-search-plus" aria-hidden="true">&nbsp;&nbsp;</i>Views</h3>
                </div>
                <div class="card-body">
                    <table class="@Raw(Model.ViewsTableClass.ToHtmlString()) table table-bordered table-hover" role="grid" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">View</th>
                                <th scope="col">Columns</th>
                                <th scope="col">Materialized</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ViewsCount > 0)
                            {
                                foreach (var view in Model.AllViews)
                                {
                                    <tr>
                                        <td><a href="@(view.ViewUrl)">@view.Name</a></td>
                                        <td>@view.ColumnCount</td>
                                        <td>@view.MaterializedText</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No views present.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>